#categoryId.is-invalid {
    .css-yk16xz-control {
        border-color: #dc3545;
    }
    .css-tlfecz-indicatorContainer {
        color: #dc3545;
    }
    .css-1okebmr-indicatorSeparator {
        background-color: #dc3545;
    }
}